version: '3'
services:
  backend:
    build: ./backend
    container_name: fair-backend
    volumes:
      - ./wallet:/app/wallet
    environment:
      - SPRING_DATASOURCE_DRIVER_CLASS_NAME=oracle.jdbc.OracleDriver
      - SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.OracleDialect
      - SPRING_DATASOURCE_URL=jdbc:oracle:thin:@mydb_high?TNS_ADMIN=/app/wallet
      - SPRING_DATASOURCE_USERNAME=ADMIN
      - SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD}
      - SPRING_JPA_HIBERNATE_DDL_AUTO=create
      - SPRING_SQL_INIT_MODE=always
      - SPRING_JPA_DEFER_DATASOURCE_INITIALIZATION=true
      - SPRING_JPA_SHOW_SQL=true
      - SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL=true
      - PORTONE_API_KEY=${PORTONE_API_KEY}
      - PORTONE_API_SECRET=${PORTONE_API_SECRET}
      - JWT_SECRET=${JWT_SECRET}
    networks:
      - fair-network

  frontend:
    build: ./frontend
    container_name: fair-frontend
    ports:
      - "80:80"
      - "443:443" 
    volumes:
      # Certbot과 폴더를 공유해야 인증
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    depends_on:
      - backend
    networks:
      - fair-network

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

networks:
  fair-network:
    driver: bridge